/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Simple CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */

/* Root variables, including various color schemes */
:root {
    --body-text: 'Nunito', sans-serif;
    --round-corners: 2rem;
}

:root[data-theme='default'] {
    --background: #96D3E1;
    --parts-background: #d3d8d9;
    --speech-bubble: white;
    --light-neutral: lightgray;
    --mid-neutral: gray;
    --text: #333;
    --accent-red: #ce4210;
    --accent-white: white;
}

/* -------------------------------------------------------------------------- */
/*                        General Styles and Typography                       */
/* -------------------------------------------------------------------------- */

body {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    background-color: var(--background);
    color: var(--text);
    font-family: var(--body-text);
}

/* -------------------------------------------------------------------------- */
/*                           Section-Specific Styles                          */
/* -------------------------------------------------------------------------- */

header {
    background-color: var(--parts-background);
}

.location-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80vw;
    height: 80vh;
    padding: 2.5vh 2.5vw;
    border-radius: 1em;
    background-color: var(--parts-background);
}

.scroll-text {
    width: 75vw;
    height: 75vh;
    
    overflow: scroll;
}

.about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80vw;
    height: 80vh;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--parts-background);

    overflow: scroll;
}


/* This has to have an !important to make sure it overwrites any other display stuff */
.hidden {
    display: none !important;
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */

