/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Simple CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */

/* Root variables, including various color schemes */
:root {
    --body-text: 'Nunito', sans-serif;
    --round-corners: 2rem;
}

:root[data-theme='default'] {
    --background: #96D3E1;
    --parts-background: #eaeff0;
    --speech-bubble: white;
    --light-neutral: lightgray;
    --mid-neutral: gray;
    --text: #333;
    --accent-red: #ce4210;
    --accent-white: white;
}

/* -------------------------------------------------------------------------- */
/*                        General Styles and Typography                       */
/* -------------------------------------------------------------------------- */

/* Accessibility things based on https://www.freecodecamp.org/news/override-root-font-size-for-a-better-user-experience/ */
html {
    font-size: 62.5%;
}

body {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    background-color: var(--background);
    color: var(--text);
    font-family: var(--body-text);
    font-size: clamp(1.6rem, 1.6vw, 2.0rem);
}

img {
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                           Section-Specific Styles                          */
/* -------------------------------------------------------------------------- */

/* Maybe change this to grid?? */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 10vh;
    padding: 1vh 2.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0 0 var(--round-corners) var(--round-corners);
    background-color: var(--parts-background);
}

.mobile-nav i {
    font-size: 3.2rem;
}

.larger-nav {
    display: none;
}

main {
    flex-grow: 1;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: baseline;

    background-color: var(--parts-background);
}

.focused-image {
    width: 35vw;   
}

.location-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80vw;
    height: 80vh;
    padding: 2.5vh 2.5vw;
    border-radius: var(--round-corners);
    background-color: var(--parts-background);
}

.about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80vw;
    height: 80vh;
    padding: 2.5vh 2.5vw;
    border-radius: var(--round-corners);
    background-color: var(--parts-background);
}

.scroll-text {
    width: 75vw;
    height: 75vh;
    
    overflow: scroll;
}

/* This has to have an !important to make sure it overwrites any other display stuff */
.hidden {
    display: none !important;
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */

@media (min-width: 1080px) {
	.mobile-nav {
        display: none;
    }
    
    .larger-nav {
        display: inline-block;
    }
}