/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Simple CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */

/* Root variables, including various color schemes */
:root {
    --body-font: 'Nunito', sans-serif;
    --body-text-size: clamp(1.6rem, 1.6vw, 2.0rem);
    --round-corners: 2rem;
}

:root[data-theme='default'] {
    --background: #96D3E1;
    --parts-background: #eaeff0;
    --speech-bubble: #edf2f4;
    --light-neutral: #cfd4d5;
    --mid-neutral: #929495;
    --text: #333;
    --accent-red: #ce4210;
    --accent-white: #eaeff0;
}

/* -------------------------------------------------------------------------- */
/*                        General Styles and Typography                       */
/* -------------------------------------------------------------------------- */

/* Accessibility things based on https://www.freecodecamp.org/news/override-root-font-size-for-a-better-user-experience/ */
html {
    font-size: 62.5%;
}

/* Apparently vh on mobile takes into account the whoooole thing, not just the visible browser window. Using "dvh" per https://medium.com/@alekswebnet/fix-mobile-100vh-bug-in-one-line-of-css-dynamic-viewport-units-in-action-102231e2ed56 */
body {
    position: relative;
    min-height: 100dvh;
    overflow: hidden;

    background-color: var(--background);
    color: var(--text);
    font-family: var(--body-font);
    font-size: var(--body-text-size);
}

h1 {
    font-size: calc(var(--body-text-size) * 3);
    color: var(--accent-red);
}

h2 {
    text-align: center;
    margin-bottom: calc(var(--body-text-size) * 0.5);
}

h3 {
    margin-top: calc(var(--body-text-size) * 1.5);
    margin-bottom: calc(var(--body-text-size) * 0.5);
}

p {
    line-height: calc(var(--body-text-size) * 1.5);
    margin-bottom: var(--body-text-size);
}

p.fact {
    margin-bottom: calc(var(--body-text-size) * 0.5);
}

/* Making sure last paragraphs don't have weird extra space after (from https://developer.mozilla.org/en-US/docs/Web/CSS/:last-of-type) */
p:last-of-type {
    margin-bottom: 0;
}

img {
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                           Section-Specific Styles                          */
/* -------------------------------------------------------------------------- */

.container {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

header {
    min-height: 10dvh;
    padding: 1vh 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0 0 var(--round-corners) var(--round-corners);
    background-color: var(--parts-background);
}

.mobile-nav i {
    font-size: calc(var(--body-text-size) * 2);
}

.larger-nav {
    display: none;
}

main {
    flex-grow: 1;
    padding: 2rem;
}

.site-info {
    margin: 2rem 0;
}

.risa-info {
    max-width: 500px;
}

.speech-bubble {
    position: relative;
    margin: calc(var(--body-text-size) * 1.5) 0;
    margin-bottom: calc(var(--body-text-size) * 5);
    padding: 2rem;

    border-radius: var(--round-corners);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--speech-bubble);
}

/* Modified from https://codepen.io/antoniasymeonidou/pen/abwENMG */
.speech-bubble::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -19px;
    right: 90px;
    border-width: 20px 0 0 30px;
    border-style: solid;
    border-color: var(--speech-bubble) transparent;
    width: 2px;
}

.risa-icon {
    position: absolute;
    bottom: -80px;
    right: 0;
    width: 80px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: end;
    padding-top: var(--body-text-size);

    border-radius: var(--round-corners) var(--round-corners) 0 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--parts-background);
}

/* Maybe feature for v2.0... */
/* .focused-image {
    width: 35vw;  
} */

.overlay {
    position: fixed; 
    width: 100dvw; 
    height: 100dvh; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.location-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    width: 80dvw;
    height: 70dvh;
    border-radius: var(--round-corners);
    background-color: var(--parts-background);
}

.about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    width: 80dvw;
    height: 70dvh;
    border-radius: var(--round-corners);
    background-color: var(--parts-background);
}

.close {
    /* Insuring tap space is at least 44x44 for accessibility */
    padding: 2%;
    margin-right: 5%;
    margin-top: 5%;
}

.close i {
    font-size: calc(var(--body-text-size) * 2);
}

.scroll-text {
    width: 86%;
    height: 85%;

    margin: 7%;
    margin-top: 0;
    
    overflow: scroll;
}

.scroll-text > img {
    margin: 1em 0;
}

.summary {
    text-align: center;
}

.copyright-info {
    text-align: center;
    font-size: calc(var(--body-text-size) * 0.9);
}

/* This has to have an !important to make sure it overwrites any other display stuff */
.hidden {
    display: none !important;
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */

@media (min-width: 768px) {
	.mobile-nav {
        display: none;
    }
    
    .larger-nav {
        display: inline-block;
    }

    main {
        display: flex;
        justify-content: space-between;
        gap: calc(var(--body-text-size) * 2);
        margin: 0 auto;
        max-width: 80%;
    }

    main .summary {
        text-align: left;
    }
}